/*--------------------------UNIVERSAL-------------------------*/
*
{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body
{
    margin:0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    min-height: 100vh;
    position: relative;
    padding-bottom: 10vh;
}

.bg-color1
{
    background-color: #f6e8e8;
}

.bg-color2
{
    background-color:#887575;
}

/*---------------------HEADERS-AND-FOOTER---------------------*/
img#logo
{
    width:100%;
}

div#logo-div
{
    padding:0px;   
}

div#title
{
    padding-top:6vh;
    line-height: 16vh;
    font-size: 10vw;
    color:#887575;
    text-align: center;
}

div#nav
{
    width:100vw;
    height: 5vh;
}

div#nav-container a.nav-element
{
    color:#f6e8e8;
    line-height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.8vh;
    text-align: center;
}

a.nav-element:hover
{
    background-color: #796767;
}

div#content
{
    position: relative;
}

div#footer
{
    width: 100vw;
    height: 10vh;
    font-size: 3vh;
    line-height: 10vh;
    text-align: center;
    color: #f6e8e8;
    position: absolute;
    bottom:0px;
}

/*----------------------CUVANJE-LISTE-------------------------*/
form#cuvanje_liste_form *
{
    font-size: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    color:#887575;
}

p#cuvanje_liste_ime_label
{
    width: 100%;
    text-align: center;
}

input#cuvanje_liste_ime_input
{
    width:80%;
    margin-left: 10%;
    border-radius: 1vw;
}

button#cuvanje_liste_button
{
    
    border-radius: 1vw;
    width:80%;
    margin-left: 10%;
    background-color:#887575;
    color: #f6e8e8;
    
}

div.cuvanje_liste_content
{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/*-------------------------KONTAKT----------------------------*/
div.content-kontakt
{
    padding-top: 5vw;
    padding-bottom: 5vw;
}

/*-------------------------O-NAMA-----------------------------*/
h1.o_nama_header
{
    width: 100%;
    text-align: center;
    font-size: 4vh;
}

p.o_nama_paragraph
{
    width: 100%;
    text-align: center;
    font-size: 3vh;
}

/*----------------------MAIN-PAGES----------------------------*/
div.main_kupac_links
{
    padding-top: 1vh;
    padding-bottom: 1vh;
    width:100%;
}

a.main_kupac_link
{
    font-size: 3vh;
    width: 50vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

a.main_kupac_link:active, a.main_kupac_link:visited, a.main_kupac_link:link
{
    color:#887575;
}

a.main_kupac_link:hover
{
    text-decoration: underline dashed;
}

/*-------------------MAKSIMALNA-RAZDALJINA--------------------*/
div.razdaljina
{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

div.razdaljina div.row
{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

div.razdaljina p
{
    font-size: 3vh;
    text-align: center;
}

div.razdaljina button
{
    width:50%;
    margin-left: 25%;
    background-color: #887575;
    border-radius: 1vh;
    font-size: 3vh;
}

div.razdaljina input[type=number]
{
    border-radius: 1vh;
    font-size: 3vh;
}

/*--------------------------PRIJAVA---------------------------*/
form#prijava_form *
{
    font-size: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

form#prijava_form
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/*------------------------REGISTRACIJA------------------------*/

div.registracija_content
{
    padding: 2vh 0vh;
}

form.registracija_form *
{
    font-size: 3vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

/*---------------------UKLANJANJE-ARTIKLA---------------------*/
.uklanjanje_artikla_table
{
    width:100%;
    font-size: 3vh;
}

.uklanjanje_artikla_table th
{
    border-bottom: black solid 2px;

}

.uklanjanje_artikla_table td
{
    font-size: 3vh;
    padding: 6px;
}

.uklanjanje_artikla_dugme
{
    align-items: center;
    font-size: 3vh;
}

/*--------------------------ZAHTEVI---------------------------*/
div.zahtevi table, div.zahtevi td, div.zahtevi tr
{
    border-collapse: collapse;
    border:2px solid #887575;
}

div.zahtevi table
{

    padding: 5vw;
        
}

div.zahtevi
{
    padding-top: 3vh;
    /*overflow-x: scroll;*/
}

div.zahtevi td
{
    padding:5px;
    /*min-width: 15vw;*/
}

div.zahtevi *
{
    font-size: 2.5vh;
}

div.zahtevi table tr td:nth-child(1)
{
    max-width:3vw;
}

/*---------------DODAVANJE-ARTIKLA-U-SISTEM-------------------*/
#dodavanje_artikla_tabela{
    align-items: center;
    font-size: 20px;
}

/*----------------------PREGLED-LISTE-------------------------*/
div.pregled_liste table
{
    width:100%;
}

div.pregled_liste table, div.pregled_liste td, div.pregled_liste tr, div.pregled_liste th
{
    border-collapse: collapse;
    border:3px solid #887575;
    font-size: 3vh;
}

div.pregled_liste
{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

div.pregled_liste td
{
    padding:5px;
}

div.pregled_liste *
{
    font-size: 3vh;
}

div.pregled_liste input[type="text"], div.pregled_liste button
{
    margin-bottom: 10px;
    width:100%;
}

div.pregled_liste p
{
    width:100%;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

div.pregled_liste input[type="file"]
{
    margin-top: 1vh;
    margin-bottom: 3vh;
    text-align: center;
}

div.pregled_liste input[type="number"]
{
    width:10vw;
}

div.pregled_liste table tr td:nth-child(1)
{
    max-width:3vw;
}

/*-----------------------SACUVANE-LISTE-----------------------*/
div.sacuvane_liste table, div.sacuvane_liste td, div.sacuvane_liste tr
{
    border-collapse: collapse;
    border:3px solid #887575;
    font-size: 3vh;
}

div.sacuvane_liste
{
    padding-bottom: 10vh;
    padding-top: 10vh;
    width:100%;
}

div.sacuvane_liste td
{
    padding:5px;
}

/*----------------------DODAVANJE-RADNJE----------------------*/
div.dodavanja_radnje *
{
    font-size: 3vh;
}

div.dodavanja_radnje form.forma_radnja
{
    
    padding-top: 5vh;
    padding-bottom: 5vh;
    
}

div.dodavanja_radnje div.kolona
{
    
    padding-top: 2vh;
    padding-bottom: 2vh;
    
}

/*-----------------------IZMENA-RADNJE------------------------*/
div.izmena_radnje *
{
    font-size: 3vh;
}

div.izmena_radnje table
{
    
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

div.izmena_radnje .cena_input, div.izmena_radnje .cena_button
{
    width:45%;
}

div.izmena_radnje .artikal_select
{
    width:100%;
}